main {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-block: 24px;
}

main img {
    width: 286px;
    height: 286px;
    object-fit: cover;
}

@media (max-width: 768px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
  }

  main img {
    width: 100%;
    height: auto;
  }
}